* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 1600px;
    background-color: #F5F5F5;
}

/* header section starts here */
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
}

.logo {
    width: 222px;
    height: 38px;
    font-size: 32px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.nav-btn {
    width: 116px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid#006A50;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

/* hero section starts here */
.hero {
    width: 1280px;
    margin: auto;
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    padding-right: 100px;
    padding-left: 50px;
    border-radius: 24px;
}

.hero-left {
    width: 622px;
}

.hero-header {
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
    font-family: "Fira Sans", serif;
    font-weight: medium;
    font-style: normal;
}

.hero-text {
    font-size: 56px;
    color: #0E0E0E;
    font-family: "Fira Sans", serif;
    font-weight: 700;
}

.hero-btn {
    width: 270px;
    height: 56px;
    background-color: #006A50;
    color: #FFFFFF;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
}

/* future-vision section starts here */
.pillars-of-bd {
    width: 1280px;
    margin: auto;
    margin-top: 80px;
}

.pillars-of-bd-header {
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
}

.pillars-of-bd .cards {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.pillars-of-bd .cards .card {
    width: 302px;
    border-radius: 16px;
    padding: 24px;
    background-color: #FFFFFF;
}

.pillars-of-bd .cards .card .card-title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 20px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
}

.pillars-of-bd .cards .card .card-text {
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
}

.vision-of-future {
    margin-top: 80px !important;
    width: 1280px;
    margin: auto;
}

.vision-of-future .vision-header {
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: #0E0E0E;
}

.vision-of-future-para {
    margin-top: 24px;
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
}

.vision-of-future .cards {
    margin-top: 32px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.vision-of-future .cards .card {
    width: 410px;
    border-radius: 16px;
    padding: 32px;
}

.vision-of-future .cards .card1 {
    background-color: #D5E1F5;
}

.vision-of-future .cards .card2 {
    background-color: #C6E4D6;
}

.vision-of-future .cards .card3 {
    background-color: #F7EBCF;
}

.vision-of-future .cards .card .card-title {
    margin-top: 24px;
    font-size: 20px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 80%;
}

.vision-of-future .cards .card .card-text {
    margin-top: 12px;
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
}

.vision-of-future .cards .card button {
    margin-top: 24px;
    width: 122px;
    height: 41px;
    color: #FFFFFF;
    background-color: #5490F5;
    border: none;
    outline: none;
    border-radius: 8px;
}

.vision-of-future .cards .card1 button {
    background-color: #5490F5;
}

.vision-of-future .cards .card2 button {
    background-color: #09A15C;
}

.vision-of-future .cards .card3 button {
    background-color: #FFC239;
}

/* quote section starts here */
.quote {
    width: 1280px;
    margin: auto;
    margin-top: 32px;
    padding: 48px 24px;
    background-image: url(images/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
    width: 1280px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.quote .quote-text {
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 80%;
}

.quote .quote-author {
    margin-top: 12px;
    font-size: 20px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    color: #0E0E0E;
}

.quote .quote-author-title {
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 60%;
}

/* opinion section starts here */
.opinion {
    margin-top: 80px !important;
    width: 1280px;
    margin: auto;
    color: #0E0E0E;
    border-color: #0E0E0E;
}

.opinion h2 {
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
}

.opinion .table-container {
    margin-top: 24px;
    width: 1280px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
}

.opinion table {
    width: 1216px;
    border-collapse: collapse;
}

.opinion tr {
    height: 72px;
}

.opinion th {
    border: none;
    background-color: #C6E4d6;
    font-size: 20px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
}

.opinion .first-th {
    text-align: left;
}

.opinion th,
.opinion td {
    padding: 24px;
}

.opinion td {
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
}

.opinion button {
    width: 152px;
    height: 44px;
    border-radius: 4px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0E0E0E;
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: medium;
    margin: auto;
}

/* recent news section starts here */
.recent-news {
    margin-top: 80px !important;
    width: 1280px;
    margin: auto;
}

.recent-news h2 {
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: #0E0E0E;
}

.recent-news>p {
    margin-top: 24px;
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 32px;
}

.recent-news .cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recent-news .card {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
    align-items: center;
}

.recent-news .card2 .left {
    order: 1;
}

.recent-news .card-banner {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.recent-news h3 {
    font-size: 32px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 80%;
}

.recent-news .right img {
    margin-top: 12px;
    display: block;
}

.recent-news .date-time {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    font-size: 16px;
}

.recent-news .right p {
    margin-top: 12px;
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
}

.recent-news button {
    margin-top: 32px;
    width: 139px;
    height: 48px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
}

/* donate section starts here */
.donate {
    margin-top: 80px !important;
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.donate h2 {
    width: 1240px;
    text-align: center;
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: #0E0E0E;
}

.donate p {
    margin-top: 24px;
    width: 1070px;
    margin: auto;
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
}

.donate .cards {
    margin-top: 32px !important;
    width: 1070px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.donate .card {
    width: 240px;
    height: 128px;
    background-color: #FFFFFF;
    border-radius: 16px;
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.donate .card:hover {
    background-color: #C6E4D6;
}

.donate input {
    margin-top: 32px !important;
    width: 1032px;
    margin: auto;
    height: 64px;
    background-color: #FFFFFF;
    display: block;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    text-align: center;
}

.donate input::placeholder {
    font-size: 20px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 30%;
    text-align: center;
}

.donate button {
    margin-top: 32px !important;
    width: 151px;
    height: 56px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    margin: auto;
}

/* newsletter section starts here */
.newsletter {
    margin-top: 80px !important;
    width: 1280px;
    margin: auto;
    padding: 80px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
}

.newsletter h2{
    font-size: 40px;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: #0E0E0E;
    margin: auto;
}

.newsletter p {
    margin-top: 24px;
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    opacity: 70%;
    margin: auto;
}

.newsletter .input-field{
    margin-top: 24px !important;
    width: 750px;
    margin: auto;
    height: 56px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    border-radius: 8px;
}

.newsletter input{
    font-size: 16px;
    font-family: "Fira Sans", serif;
    font-weight: regular;
    color: #0E0E0E;
    border: none;
    outline: none;
}

.newsletter button {
    width: 151px;
    height: 56px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}